@media (min-width:990px) and (max-width:1199px){.tabs li{padding:8px 10px;}.widget_followers li{padding:13px 13px;width:31.1%;margin-right:3px;}.social{margin:0px 34px 25px 0;}.navbar-default.style1 .navbar-nav.icons>li>a{padding:0 15px;margin:0!important;}.demo2 .tp-bullets{left:45%!important;}.border-box{padding:6px;}.parallax-content{padding:50px 0;}.tm-info .member-desc{padding:0 0px 40px 60px;}.tm-info .member-pos2{top:0px;right:-25px;}.tm-info .member-pos{top:20px;right:10px;}.tm-info .member-pos3{top:0;right:-20px;}.tooltip-desc{display:none;}a.team-profile:hover .tooltip-desc{display:none;}@-webkit-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@-moz-keyframes Anim {
	 0%   { display: none;}
	  100% { display: none;}
	}
	@-o-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	.tooltip-content {
		display: none;
	}
	.tooltip-content p{
		display: none;
	}
	.contact-form .name, .contact-form .subject, .contact-form .email {
		width: 32.95%;
	}
	
}
@media (min-width:978px) and (max-width:1059px){
	#testimonials .testimonial{
		padding: 0 0 30px;
	}
	.bt1{left: -20px;}
	.bt2{left: 10px;}
	.medium_text{font-size: 18px !important;}
	.tooltip-desc, .tooltip-content{display: none;}
	.contact-form .name, .contact-form .subject, .contact-form .email {width: 32.85%;}
	.tooltip-desc{display: none;}
	.navbar-nav.icons > li > a{margin: 0 10px !important;}
	.navbar-default.light-menu .navbar-nav.icons  > li > a:after{display: none;}
	.tooltip-desc{display: none;}
	a.team-profile:hover .tooltip-desc{ 
		display: none;
	}
	@-webkit-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@-moz-keyframes Anim {
	 0%   { display: none;}
	  100% { display: none;}
	}
	@-o-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	.tooltip-content{display: none;}
	.tooltip-content p{display: none;}
	
}

/* IPAD PORTRAIT */
@media (min-width:768px) and (max-width:979px){
	
	#testimonials .testimonial{padding: 0 0 30px;}
	.tm-info .member-desc {padding: 0px 0 40px 0px;}
	.small-pwide {width: 70%;}
	.tm-info .member-pos {position: absolute;top: 0;right: 0;}
	.tm-info img{position: relative; top: 50px;}
	.tm-info img.member-pos, .tm-info img.member-pos2, .tm-info img.member-pos3{position: absolute; top: 20px;right: 20px;}
	.tm-info .member-pos2 {top: 0;right: -55px;}
	.contact-form .name, .contact-form .subject, .contact-form .email {width: 32.85%;}
	.bt1{left: -35px;}
	.bt2{left: 25px;}
	.medium_text{font-size: 16px !important;}
	h1.bigone {font-size: 34px;}
	.tab-container .col-xs-12 h2{font-size: 26px;}
	p.home-slide-content{font-size: 4.5em !important;}
	.testimonial-box-nav li {width: 70px;height: 70px;}
	#respond .contact-form .name, #respond .contact-form .subject, #respond .contact-form .email{margin-left: 1.4%;}
	.pagetitle{width: 65%;}
	.a-mobile .icon-nofill{text-align: center;}
	h5{line-height: 1.2;}
	.navbar-default .navbar-nav>li>a {padding: 0 11px !important;margin: 0 !important;}
	.navbar-default .navbar-nav.icons>li>a {padding: 0 4px !important;margin: 0 !important;font-size: 11px;}
	.navbar-default.light-menu .navbar-nav.icons>li>a:after {display: none;}
	.navbar-default.light-menu .navbar-nav>li>a {margin: 0;}
	.navbar-default.light-menu .navbar-nav>li>a:after {margin-left: 7px;}
	.demo2 .tp-bullets{left: 30% !important;}
	.parallax-content{padding: 80px 0;}
	.section-title {margin-bottom: 30px;}
	#parallax-3 .parallax-content {padding: 90px 0;}
	#services .service h5 {font-size: 15px;}
	#services .service h5,#services .service p {text-align: center !important;}
	.service {width: 100%;}	
	.home-center-contents h2{font-size: 4.9em;}
	.home-center-contents h2.morebig{font-size: 5.15em;}
	.home-center-contents h2.popup{padding: 0 17px;}
	.tooltip-desc{display: none;}
	a.team-profile:hover .tooltip-desc{ 
		display: none;
	}
	@-webkit-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@-moz-keyframes Anim {
	 0%   { display: none;}
	  100% { display: none;}
	}
	@-o-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	.tooltip-content {display: none;}
	.tooltip-content p{display: none;}
	.parallax{background-position: 50% 0 !important;}
	.navbar-shrink .logo{margin: 15px 0 0 0;}
	.cbp-filter-counter {display: none;}
}

@media (min-width:768px){
	.navbar-nav {float: left;margin: 0;}
	.navbar-nav>li {float: left;}
	.navbar-nav>li>a {padding: 0 15px;line-height: 80px;-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
	.navbar-nav.navbar-right:last-child {margin-right: -15px;}
}

/* IPNONE LANDSCAPE */
@media (max-width:767px){
		
	.tm-info .member-desc {padding: 0;}
	.tm-info .member-pos, .tm-info .member-pos2, .tm-info .member-pos3{top: 0;right: -70px;}
	.logo{margin: 20px 0 0 20px;}
	.tm-info .member-desc {padding: 20px;}
	.modal .close{right: 20px;}
	.small-pwide{width: 80%;}
	.parallax {height: 500px;}
	#testimonials .testimonial{padding: 0 0 30px;}
	.contact-form .name, .contact-form .subject, .contact-form .email{width: 32.73%;}
	.mail-box {width: 550px;}
	.mail_chimp_form_container .banner{width: 280px;}
	.mail_chimp_form_container .form{width: 240px;}
	#contacts .mail_chimp_form_container input{width: 70%;}
	.bt1{left: -45px;}
	.bt2{left: 35px;}
	.medium_text{font-size: 12px !important;}
	.tm-info img, .tm-info .space{display: none;}
	.tm-info .social-font-awesome{margin: 0;}
	.tab-container .col-xs-12{width: 480px;}
	h1.bigone {font-size: 28px;}
	.tab-container .col-xs-12 h2{font-size: 19px;}
	p.home-slide-content{font-size: 3.5em !important;}
	.navbar-default .navbar-nav > li > a{color: #282829;}
	.navbar-default .container > .navbar-collapse{margin-left: 0;margin-right: -1px;}
	.navbar-shrink.navbar-default .container > .navbar-collapse{margin-left: 20px;margin-right: 14px;}
	.home-center-contents h2, .home-center-contents h2.morebig{font-size: 2.9em;}
	.home-center-contents h2.popup{padding: 0 11px;}
	.tooltip-desc{display: none;}
	.numerical-c{margin-top: 10px !important;}
	#parallax-4{height: 700px;}
	.testimonials-slide-content .text-container {width: 100%;}
	#testimonials-slider{margin-top: 50px;}
	#parallax-1 .section-title{margin-top: 20px;}
	.numerical-c{margin-top: 10px !important;}
	.demo2 .tp-bullets{left: 20% !important;}
	.demo2 .rev-bt1{left: 49% !important;}
	.demo2 .rev-bt3{left: 56% !important;}
	.demo2 .rev-bt2{left: 65% !important;}
	.pagetitle{width: 88%;}
	.twitter-author{margin-top: 10px;}
	.h2,h2 {font-size: 24px;}
	h5{font-size: 15px;}
	.navbar-nav {margin: 4.5px -15px;background: #fff;}
	.navbar-nav li a {padding: 20px;}
	.navbar-shrink img {max-width: 100%;}
	.navbar-toggle {margin-top: 22px !important;}
	.navbar-shrink {height: 80px !important;}
	.navbar-shrink .navbar-brand {line-height: 73px;}
	.dropdown-menu li a{-webkit-transition: none !important;-moz-transition: none !important;transition: none !important;}	
	.navbar-default.light-menu .navbar-nav>li>a:after {content: '';}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {color: #555;background-color: #e7e7e7;}
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {color: #ccc;background-color: transparent;}	
	.parallax {height: 600px;}
	.parallax-content {padding: 20px 0;}
	.center-icon {margin-top: 40px;}
	.navbar-default .navbar-nav>li>a {padding: 11px 20px;}
	a.p-button {float: none;display: inline-block;}
	.navbar-nav .collapsible .sub-arrow,.navbar-nav .sub-arrow {display: block;}
	.navbar .navbar-collapse .navbar-nav>li>a,.navbar-shrink .navbar-collapse .navbar-nav>li>a {line-height: 40px !important;}
	.navbar-nav {border: 1px solid #f2f2f2;-webkit-box-shadow: 0 1px 6px 0 rgba(68,68,68,.07);box-shadow: 0 1px 2px 0 rgba(68,68,68,.07);}
	.dark .navbar-nav {border: 1px solid #23282C;-webkit-box-shadow: 0 1px 6px 0 rgba(68,68,68,.07);box-shadow: 0 1px 2px 0 rgba(68,68,68,.07);background-color: #1C2024;}
	.navbar-nav li a {border-bottom: 1px solid #f2f2f2;}
	.dark .navbar-nav li a {border-bottom: 1px solid #23282C;background-color: #1C2024;}
	.navbar-default.light-menu.border .navbar-nav>li>a,.navbar-default.light-menu.border.navbar-shrink .navbar-nav>li>a {margin-top: 0 !important;}
	#parallax-3 .parallax-content {padding: 90px 0;}
	.section-title {margin-bottom: 30px;}
	.divider.colored {margin: 25px auto;}
	#services .service h5,#services .service p {text-align: center !important;}
	.service {width: 100%;}
	.navbar-nav .sub-arrow {top: 2px !important;right: 0 !important;}
	.nav-container {margin: 0 15px 0 20px;}
	.parallax{background-position: 50% 0 !important;background-size: cover;}
	.next-section{bottom: 60px;}
	.cbp-l-inline-left {float: left;width: 100%;margin: 40px 0;}
	.cbp-popup-singlePageInline .cbp-popup-close{right: 30px;}
	.cbp-l-inline-right {float: right;width: 100%;padding-left: 0;}
	.tooltip-desc{display: none;}
	.cbp-filter-counter {display: none;}
	a.team-profile:hover .tooltip-desc{ 
		display: none;
	}
	@-webkit-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@-moz-keyframes Anim {
	 0%   { display: none;}
	  100% { display: none;}
	}
	@-o-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	.tooltip-content {display: none;}
	.tooltip-content p{display: none;}
	.flex-direction-nav{display: none;}
	.testimonial-box-nav li, .testimonial-box-nav li a{width: 60px;height: 60px;margin: 0 5px;}
	
}

/* IPNONE PORTRAIT */
@media (max-width:480px){
	
	.tm-info .member-desc {padding: 0;}
	.testimonial-box-nav li, .testimonial-box-nav li a{margin-bottom: 10px;}
	.tm-info .member-pos, .tm-info .member-pos2, .tm-info .member-pos3{top: 0;right: -70px;}
	.cbp-filter-counter {display: none;}
	.logo{margin: 20px 0 0 0;}
	.navbar-shrink .logo{margin: 20px 0 0 20px;}
	.tm-info .member-desc {padding: 0 20px 20px 20px;}
	.modal .close{right: 20px;}
	.small-pwide {width: 80%;}
	.parallax {height: 500px;}
	.tm-info img, .tm-info .space{display: none;}
	.tm-info .social-font-awesome{margin: 0;}
	.social-font-awesome li{margin-right: 10px;}
	.socialdiv ul li, .socialdiv.colored ul li{margin: 2px;}
	.cbp-l-filters-alignCenter .cbp-filter-counter{display: none;}
	.tab-container .col-xs-12{width: 300px;}
	h1.bigone {font-size: 28px;}
	.tab-container .col-xs-12 h2{font-size: 19px;}
	p.home-slide-content{font-size: 2em !important;}
	.home-center-contents h1.h-slider{font-size: 1.4em;}
	#text-slider.flexslider{margin: 0px auto;}
	.tooltip-desc{display: none;}
	.navbar-default .navbar-nav > li > a{color: #282829;}
	.navbar-default .container > .navbar-collapse{margin-left: -15px;margin-right: -1px;}
	.navbar-shrink.navbar-default .container > .navbar-collapse{margin-left: 5px;margin-right: 14px;}
	.home-center-contents h2, .home-center-contents h2.morebig{font-size: 2.5em;}
	.home-center-contents h2.morebig{font-size: 2.6em;}
	.home-center-contents h2.popup{padding: 0 11px;}
	#parallax-1 .section-title{margin-top: 20px;}
	.numerical-c{margin-top: 10px !important;}
	.demo2 .tp-bullets{left: 0 !important;margin-left: 230px !important;}
	.demo2 .rev-bt1{left: 70px !important;}
	.demo2 .rev-bt3{left: 120px !important;}
	.demo2 .rev-bt2{left: 140px !important;}
	.pagetitle{width: 88%;}
	#testimonials .testimonial{padding: 0 0 30px;}
	.contact-form .name, .contact-form .subject, .contact-form .email{width: 32.83%;}
	.tm-info h2{font-size: 2em;margin: 0;}
	.tm-info h4{font-size: 1em;}
	.testimonial-box-nav li a, .testimonial-box-nav li{width: 70px;height: 70px;}
	.twitter-slider {width: 85%;}
	#twitter-feed .flex-control-nav {bottom: -10px;}
	.mail-box {width: 320px;top: -110px;}
	.mail_chimp_form_container .form {width: 98%;margin-left: 10px;padding: 0;}
	.mail_chimp_form_container .banner {width: 100%;}
	.bt1{left: -45px;}
	.bt2{left: 35px;}
	.tp-banner-container .des-button-white{padding: 10px 18px;font-size: 12px;}
	.tooltip-desc{display: none !important;}
	.medium_text{font-size: 10px !important;}
	#home-fsslider a.go-about{bottom: -10px;font-size: 10px;}
	.tp-leftarrow.default{left: 10px !important;}
	.tp-leftarrow:hover {left: 0 !important;}
	.tp-rightarrow.default{right: 10px !important;}
	.tp-rightarrow:hover {right: 0 !important;}	
	.col-md-6 {margin-bottom: 20px;}
	.navbar-default.light-menu .navbar-nav>li>a:after {content: '';}
	.dropdown-menu li a{-webkit-transition: none !important;-moz-transition: none !important;transition: none !important;}
	.contact-form .email,.contact-form .name,.contact-form .service,.contact-form .subject {width: 100%;margin: 0;}
	.navbar-nav .collapsible .sub-arrow,.navbar-nav .sub-arrow {display: block;}
	.navbar .navbar-collapse .navbar-nav>li>a,.navbar-shrink .navbar-collapse .navbar-nav>li>a {line-height: 40px !important;}
	.navbar-nav {border: 1px solid #f2f2f2;-webkit-box-shadow: 0 1px 6px 0 rgba(68,68,68,.07);box-shadow: 0 1px 2px 0 rgba(68,68,68,.07);}
	.navbar-nav li a {border-bottom: 1px solid #f2f2f2;}
	#parallax-3 .parallax-content {padding: 90px 0;}
	.section-title{margin-bottom: 20px;}
	.divider.colored {margin: 25px auto;}
	.parallax-content {padding: 20px 0;}	
	#services .service h5,#services .service p {text-align: center !important;}
	.service {width: 100%;text-align: center !important;}
	.filter li {margin-bottom: 20px;}	
	.navbar-nav .sub-arrow {top: 2px !important;right: 0 !important;}
	.nav-container {margin: 0 15px 0 20px;}
	#text-slider .flex-control-nav{top: -50px !important;}
	.next-section{bottom: 140px;}
	.tp-caption h4, .tp-caption h3{font-size: 7px !important;margin-top: 8px !important;}
	.tooltip-content h5{font-size: 13px;}
	.cbp-l-inline-left {float: left;width: 100%;margin: 40px 0;}
	.cbp-popup-singlePageInline .cbp-popup-close{right: 30px;}
	.cbp-l-inline-right {float: right;width: 100%;padding-left: 0;}
	.demo-juicy-projects .cbp-l-grid-projects-title, .demo-juicy-projects .cbp-l-grid-projects-desc{width: 88%;}
	.tooltip-desc{display: none;}
	a.team-profile:hover .tooltip-desc{ display: none;}
	@-webkit-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@-moz-keyframes Anim {
	 0%   { display: none;}
	  100% { display: none;}
	}
	@-o-keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	@keyframes Anim {
	  0%   { display: none;}
	  100% { display: none;}
	}
	.tooltip-content {display: none;}
	.tooltip-content p{display: none;}
	#text-slider.flexslider{top: -30px;}
	.flex-direction-nav{display: none;}
}

