.everything{
    width: 100%;
}
#aa_particles, #aa_particles2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#android-softwars-text{
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    text-align:justify;
    direction: rtl;
    margin: -2%;
    padding-left: 105px ;
}


#typed-div > div, #typed-div a, #typed-div img{
    width: 100%;
    height: 100%;
}

#typed-text{
    font-size: 30px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
    z-index: 1000;
    direction: rtl;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #ffffff;
    font-size: 30px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cbp-caption-defaultWrap > img{
    width: 100%;
    height: 100%;
}

#idea-list{
    background-color: #003050;
}

.idea-block{
    height: 380px;
    background-clip: padding-box;
    border: 10px solid transparent;;
    padding-right: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.idea-block:after{
    content:"";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 2px;
    width: 80%;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.idea-block p{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
    text-align: center;
    direction: rtl;
    transition: all 0.3s linear 0s;
}

.idea-block a{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    color: white;
}

.idea-block .more_btn:hover{
    background-color: white;
    color: #003050;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.idea-block img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.idea-block h3{
    margin-top: 70px;
    width: 100%;
    float: left;
    text-align: center;
    color: #ffffff;
}

.idea-block .graphic{
    width: 100%;
    height: 80%;
    float: left;
}

.idea-block .des{
    width: 100%;
    float: left;
}

.features-wrapper, .team-wrapper { margin: 70px 0 0; }
.shadow { text-shadow: rgb(55, 181, 161) 1px 1px, rgb(55, 181, 161) 2px 2px, rgb(55, 181, 161) 3px 3px, rgb(55, 181, 161) 4px 4px, rgb(55, 181, 161) 5px 5px, rgb(55, 181, 161) 6px 6px, rgb(55, 181, 161) 7px 7px, rgb(55, 181, 161) 8px 8px, rgb(55, 181, 161) 9px 9px, rgb(55, 181, 161) 10px 10px, rgb(55, 181, 161) 11px 11px, rgb(55, 181, 161) 12px 12px, rgb(55, 182, 162) 13px 13px, rgb(55, 183, 163) 14px 14px, rgb(56, 184, 164) 15px 15px, rgb(56, 185, 165) 16px 16px, rgb(56, 186, 166) 17px 17px, rgb(57, 187, 167) 18px 18px, rgb(57, 188, 168) 19px 19px, rgb(57, 189, 169) 20px 20px, rgb(58, 191, 170) 21px 21px, rgb(58, 192, 171) 22px 22px, rgb(58, 193, 172) 23px 23px, rgb(59, 194, 173) 24px 24px, rgb(59, 195, 174) 25px 25px, rgb(59, 196, 175) 26px 26px, rgb(60, 197, 176) 27px 27px, rgb(60, 198, 177) 28px 28px, rgb(60, 199, 178) 29px 29px, rgb(61, 201, 179) 30px 30px; }

.icon { height: 175px; width: 175px; line-height: 175px; max-width: 100%; background: #3dc9b3; border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; color: #fff; font-size: 55px; text-align: center; vertical-align: middle; position: relative; margin: 0 auto 50px; }

.text-colored{
    color: #003050; !important;
    display: table;
    height: 100%;
    padding-top: 50px;
}
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 2.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 3s; -webkit-animation-delay: 1s; display: table-cell; vertical-align: middle; }

.team img { margin-bottom: 40px; }
ul.social-buttons {align-self: center; list-style: none;margin-left: 50px; padding: 0;
    align-items:center; }
ul.social-buttons li { display: inline-block; margin-right: 10px; }
ul.social-buttons li:last-child { margin-right: 0; }
.social-buttons li a i{
    margin-top: 10px;
}
.social-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: #003050; display: inline-block; color: #fff; font-size: 17px; line-height: 40px; text-align: center; }
.social-btn:hover, .social-btn:focus { background: #3dc9b3; color: #fff; }
.social { margin-top: 25px }


.app-desc h2{
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.app-desc p{
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.caption {
    direction: rtl;
    position: absolute;
    width: 100%;
    text-align: center;
}
#naghsh-caption, #golrokh-caption{
    bottom: 30vh;
}
#alefba-caption{
    top: 35vh;
}
.caption h2{
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}
.btn.active{
    background-color: #afafaf !important;
}
.overlay{
    height:100%;
    width: 100%;
    position: absolute;
    left:0;
    display: none;
}

#android{
    background-color: white;
    min-height: calc(100vh - 65px);
    padding-top: 0;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

#android .row{
    background-color: #80a755;
    min-height: calc(100vh - 65px);
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    padding-top: 0;
}

.btn-bazaar{
    width: 128px;
}
.light-section{
    padding-top: 0;
}

#opensource .section-title{
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 20px;
    min-height: calc(100vh - 65px);
}

.section-title{
    background: white;
    z-index: 1;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
/*.navbar-shrink{
    background: url("https://subtlepatterns.com/patterns/congruent_pentagon.png") !important;
}
*/
/*.footer{
    min-height: 25vh;
    position: relative;
}
*/
/*.footer .container{
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
.section-title .dot{
    border-right: 2px rgba(0, 0, 0, 0.48);
    height: 50px;
    width: 0px;
    margin: 30px auto;
    border-right-style: dotted;
}

.navbar-shrink .nav-container .navbar-header{
    display: block !important;
}

.navbar-header {
    display: none;
}

.more_btn i{
    margin-left: 5px;
    margin-top: 5px;
}

.tp-caption p{
    background-color: rgba(0,0,0,0.6);
    line-height: 1 !important;
    padding: 5px 7px !important;
    font-weight: 300;
}

.tp-caption {
    visibility: visible !important;
}
.large_bold_white_15 {
    text-shadow: 0px 2px 2px rgb(0,0,0);
}

.animated{
    -webkit-animation-delay: 1s !important;
}
/*
.navbar-default {
    // background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.6) 100%);
}

.navbar-default.navbar-shrink {
    // background: white;
}

.navbar-nav>li>a {
    line-height: 70px;
}
*/
.navbar-default a {
    text-shadow: 0px 2px 0px rgb(0,0,0);
}
.navbar-default.navbar-shrink a {
    text-shadow: none;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: #ffff00;
    cursor: pointer;
}
.navbar-default.navbar-shrink .navbar-nav>li>a:hover, .navbar-default.navbar-shrink .navbar-nav>li>a:focus {
    color: #04acbb;
}

div.text-colored *{
    cursor: pointer;
}


.spinner {
  margin: auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #607d8b;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media(min-width: 770px){
    #cf4a{
        height: calc(100vh - 65px);
        min-height: 750px;
        background:url('../images/image-processing.jpg') no-repeat center top;
        background-size: cover;
        position: relative;
        width: 100%;
    }

    .naghsh.overlay {
        background:url('../images/naghsh.png') no-repeat center top;
        background-size: cover;
    }

    .alefba.overlay{
        background:url('../images/alefba.png') no-repeat center top;
        background-size: cover;
    }

    .golrokh.overlay{
        background:url('../images/golrokh.png') no-repeat center top;
        background-size: cover;
    }
    .app-desc.menbar{
        text-align: right;
        margin-top: 25vh;
    }

    .app-desc.zolal{
        position:relative;
        text-align: left;
        height:75vh;
    }

    /*.menbar.col-xs-12{
        display: none;
    }

    .zola.col-xs-12 img{
        display: none;
    }

    .menbar.col-sm-3{
        display: block;
    }*/

    img.menbar{
        position: absolute;
        width: 47%;
        top:25vh;
        left: 0;
    }

    img.zolal{
        position: absolute;
        width: 47%;
        bottom:-80vh;
        right: 0;
    }

    .app-desc.zolal div{
        position: absolute;
        bottom:0px;
    }

    .laptop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .buttons {
        top: 10px;
        width: 655px;
    }

    .buttons button{
        width: 200px;
        margin-top: 10px;
        font-size: 14px;
        height: 45px;
    }


}

@media(max-width: 770px){

    .text-colored{
        padding-top: 10px;
    }

    #cf4a{
        background:url('../images/image-processing-mobile.jpg') no-repeat left top;
        height: calc(100vh - 65px);
        background-size: cover;
        position: relative;
        width: 100%;
    }

    .naghsh.overlay {
        background:url('../images/naghsh-mobile.png') no-repeat left top;
        background-size: cover;
    }

    .alefba.overlay{
        background:url('../images/alefba-mobile.png') no-repeat left top;
        background-size: cover;
    }

    .golrokh.overlay{
        background:url('../images/golrokh-mobile.png') no-repeat left top;
        background-size: cover;
    }

    .app-desc.zolal div img{
        display: block;
    }

    .laptop {
        display: none;
    }

    .mobile{
        display: block;
    }

    /*.menbar.col-xs-6{
        display: block;
    }

    .menbar.col-sm-3{
        display: none;
    }*/

    .phone-images{
        text-align: center;
    }

    .app-desc.menbar{
        text-align: center;
        /* margin-top: 20px; */
        /* vertical-align: bottom; */
    }

    .app-desc.zolal{
        /* position:relative; */
        text-align: center;
        height: auto;
        /* margin-top: 0px; */
    }

    img.menbar{
        /* position: absolute; */
        width: 45%;
        margin-top: 20px;
        margin-left: 10px;
    }

    img.zolal{
        /* position: absolute; */
        width: 45%;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .mobile div{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mobile div h2{
        margin-top: 5px;
    }

    .buttons button{
        width: 30%;
        height: 35px;
        font-size: 10px;
        padding:0;
        margin-bottom: 10px;
    }

    .buttons {
        bottom: 10px;
        width: 100%;
    }
}



/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover, .pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover, .close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.up:hover, .up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover, .slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

/*.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}*/
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #ffffff;
  --hover: #fff;/*#428bca;*/
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: black;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
button.selected {
    color: black;
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
    outline: none;
    border-color: var(--hover);
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}

.buttons{
    position: absolute;
    z-index: 1;
    direction: rtl;
    /* float: right; */
    right: 0;
    left: 0;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    bottom: 60px;
    height: 45px;
}

.buttons button{
    font-weight: bold;
    width: calc(100%/3);
    height: 45px;
    font-size: 16px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 0;
    border: 2px solid #fff;
    display: inline-block;
    /* line-height: 1.42857143; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    float: left;
}
/*
  As a bonus, I will now begin including a shoddily written limerick or other high literary masterpiece in all my pens. Misspelled visual rhymes and two left feet are the spice of life. You're welcome.

  [1/?] Glass cannon 
  There was a young dev on the frontend
  delighted to see folks affronted
    They claimed satisfaction
    provoking a reaction
  but threw quite a fit when confronted
*/

#map{
    min-height: 60vh;
    background: url("../images/map.png") center center;
    background-size: cover;
}
.footer{
    background: rgba(248, 248, 248, 0.75);
    height: 100%;
    position: relative;
}

.footer .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo-footer img{
    width: 128px;
}

