@font-face {
	font-family: BMitra;
	font-weight: normal;
	src: url('http://www.sobhe.ir/fonts/BMitra.eot?#') format('eot'), url('http://www.sobhe.ir/fonts/BMitra.woff') format('woff'), url('http://www.sobhe.ir/fonts/BMitra.ttf') format('truetype');
}
@font-face {
	font-family: BMitra;
	font-weight: bold;
	src: url('http://www.sobhe.ir/fonts/BMitraBold.eot?#') format('eot'), url('http://www.sobhe.ir/fonts/BMitraBold.woff') format('woff'), url('http://www.sobhe.ir/fonts/BMitraBold.ttf') format('truetype');
}
