/* font */
@font-face {
  font-family: BMitra;
  font-weight: normal;
  src: url('fonts/BMitra.eot?#') format('eot'), url('fonts/BMitra.woff') format('woff'), url('fonts/BMitra.ttf') format('truetype');
}
@font-face {
  font-family: BMitra;
  font-weight: bold;
  src: url('fonts/BMitraBold.eot?#') format('eot'), url('fonts/BMitraBold.woff') format('woff'), url('fonts/BMitraBold.ttf') format('truetype');
}
/* bootstrap */
body {
  direction: rtl;
}
body,
h1,
h2,
h3 {
  font-family: 'B Mitra', BMitra, Arial;
}
body {
  font-size: 18px;
  line-height: 22px;
}
h1,
h2,
h3 {
  font-weight: bold;
}
[class*="col-"] {
  float: right;
}
/* sobhe */
body {
  background: url(images/pattern.png);
}
.element {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 25px 20px 12px;
  margin-top: 25px;
}
.element h3 {
  font-size: 26px;
  margin-top: 0;
}
#main .element {
  padding: 27px 20px 30px;
}
#main .slogan {
  font-size: 20px;
  margin-bottom: 35px;
}
#main .info {
  color: #777;
  margin-top: 20px;
}
#main p {
  margin-bottom: 0;
}
#projects {
  margin-bottom: 50px;
}
#projects > div {
  height: 135px;
}
#projects .slogan {
  font-size: 20px;
  color: #777;
}
#projects p {
  text-align: justify;
}
#projects a {
  text-decoration: none;
}
#projects .element:hover {
  background: #efefef;
}
#projects .element:hover .slogan {
  color: #333;
}
@media (min-width: 992px) {
  .container {
    margin-top: 100px;
  }
}
