.features-area {
    background-color: #f8f8f8;
}

.features-wrapper {
    display: table;
    box-shadow: 0 0 3em rgba(#000, 0.13);
    background-color: #fff;

    &-row {
        display: table-row;
    }
}

.feature {
    display: table-cell;
    width: 50%;
    padding: 2em;
    
    &.--blue {
        background: radial-gradient(circle at 17% 40%, rgba(255,255,255,0) 15%,rgba(30,110,189,0.2) 150%); 
    }
    &.--orange {
        background: radial-gradient(circle at 17% 40%, rgba(255,255,255,0) 15%,rgba(#C36312,1) 180%);
    }
    &.--yellow {
        background: radial-gradient(circle at 17% 40%, rgba(255,255,255,0) 15%,rgba(#FFE100,1) 250%); 
    }
    &.--green {
        background: radial-gradient(circle at 17% 40%, rgba(255,255,255,0) 15%,rgba(#7ACFC0,1) 250%); 
    }

    &__icon {

        > * {
            width: 7em;
            height: auto;
        }
    }

    &__title {
        font-family: HelveticaNeue-Medium;
        font-size: 1.7em;
        color: #000000;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__subtext {
        font-family: HelveticaNeue;
        font-size: 1.3em;
        color: rgba(#3C3C3C,0.76);
        letter-spacing: 0.01em;
        line-height: 1.5;
    }
}