
/* bootstrap */

body {
  direction: rtl;
}
body, h1, h2, h3 {
  font-family: IRMitra, Arial;
}
body, p {
  font-size: 18px;
  line-height: 1.5;
}
[class*="col-"] {
  float: right;
}

h1 {
  font-size: 60px;
}

b {
  font-size: 90%;
}

/* typeahead */

.typeahead, .tt-query, .tt-hint {
  width: 700px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 700px;
  margin: 3px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover, .tt-suggestion.tt-cursor {
  cursor: pointer;
  background-color: #efefef;
}


/* baaz */

body {
  background: url(pattern.png);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

.box {
  padding-top: 20px;
  height: 100vh;
}

.tt-menu {
  text-align: right;
}

.tt-suggestion a {
  color: inherit;
  text-decoration: none;
}

.movie p, .person p {
  font-size: 130%;
  line-height: 1.5;
  padding-top: 10px;
  margin: 0;
}

.tt-suggestion img {
  float: right;
  width: 70px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.number {
  font-family: BMitra;
}

.tt-menu .item {
  padding: 3px 20px;
}
.tt-menu p {
  margin-bottom: 0;
  font-size: 19px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tt-menu em {
  font-size: 90%;
  font-weight: bold;
  font-style: normal;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.paper-item {
  border-bottom: 1px dashed #ccc;
}
.paper-item:last-child {
  border: none;
}
.paper-item .year {
  float: left;
  display: inline-block;
  background-color: #eee;
  border: 1px solid;
  line-height: 1;
  padding: 3px 4px 0;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 3px;
}
.paper-item.ltr .year {
  float: right;
}
.paper-item:hover .year {
  color: #fff;
  border-color: #fff;
  background-color: royalblue;
}

.paper-item .description {
  font-size: 90%;
  color: #999;
  margin-top: 5px;
}
