
FORMAT: 1A
HOST: http://api.sobhe.ir/golrokh/api/

# Golrokh

> For using Golrokh API you need a TOKEN_KEY, if you don't have one,
please contact golrokh@sobhe.ir.


## Find Faces [/find_faces]

### Request [POST]

> For uploading image file you can send `multipart/form-data` request
> to this function:

    curl -X POST --header "Authorization: Token TOKEN_KEY" -F "image=@FILENAME" -F "datasets=siasi,honari,varzeshi" http://HOSTNAME/api/find_faces

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
              "datasets": ["siasi", "honari", "varzeshi"],
              "image_url": "http://cdn.fararu.com/files/fa/news/1392/5/26/79742_241.jpg"
            }

+ Response 200 (application/json)

        {
          "image_url": "http://cdn.fararu.com/files/fa/news/1392/5/26/79742_241.jpg",
          "faces": [
            {
              "box": "247 103 53 53",
              "person": "حسن روحانی",
              "person_image": null,
              "probability": 0.91
            },
            {
              "box": "94 110 48 48",
              "person": "علی‌اکبر صالحی",
              "person_image": null,
              "probability": 0.72
            },
            {
              "box": "395 103 53 53",
              "person": "محمدجواد ظریف",
              "person_image": null,
              "probability": 0.7
            }
          ]
        }


### Upload Image [POST]

+ Request (multipart/form-data; boundary=---GOLROKH)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            -----GOLROKH
            Content-Disposition: form-data; name="image"; filename="image.jpg"
            Content-Type: image/jpeg
            Content-Transfer-Encoding: base64

            /9j/4AAQSkZJRgABAQEASABIAAD/4QLMRXhpZgAASUkqAAgAAAAMAAABBAABAAAA6AMAAAEBBAABAAAA3AUAABoBBQABAAAAngAAABsBBQABAAAApgAAACgBAwABAAAAAgAAADsBAgALAAAArgAAABMCAwABAAAAAQAAAJiCAgALAAAAugAAAGmHBAABAAAAdgIAAJucAwAqAAAAxgAAAJ2cAwAYAAAAGgEAAJ6cAwCWAAAASgEAAAAAAAB/AAAAMgAAAH8AAAAyAAAAa2hhbWVuZWkuaXIAa2hhbWVuZWkuaXIALwAGAMwABgAvAAYAJwAGADEABgAgAAAAqQAGACcABgAxAAYArwAGADIABgAnAAYAMQAGACcABgBGAAYAIAAAAEYABgA4AAYAJwAGAEUABgAAAAAAawAAAGgAAABhAAAAbQAAAGUAAABuAAAAZQAAAGkAAAAuAAAAaQAAAHIAAAAAAAAARQAGADMABgAmAAYASAAGAEQABgAnAAYARgAGACAAAABGAAYAOAAGACcABgBFAAYADAAGACAAAACpAAYAJwAGADEABgCvAAYAMgAGACcABgAxAAYAJwAGAEYABgAgAAAARgAGADgABgAnAAYARQAGAAwABgAgAAAAMQAGAEcABgAoAAYAMQAGACAAAAAnAAYARgAGAEIABgBEAAYAJwAGACgABgAgAAAAJwAGADMABgBEAAYAJwAGAEUABgDMAAYADAAGACAAAAAiAAYAzAAGACoABgAMACAAJwAGAEQABgBEAAYARwAGACAAAAAuAAYAJwAGAEUABgBGAAYARwAGAAwAIAAnAAYAzAAGAAwABgAgAAAAMQAGAEUABgA2AAYAJwAGAEYABgAAAAAABgAAkAcABAAAADAyMjABkQcABAAAADAwMDAAoAcABAAAADAxMDABoAMAAQAAAP//AAACoAQAAQAAAOgDAAADoAQAAQAAANwFAAAAAAAA/+0ARVBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAApHAJ0AAtraGFtZW5laS5pchwCaQAUPz8/Pz8gPz8/Pz8/Pz8/ID8/Pz//7iI2aHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLzw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDQuNC4wLUV4aXYyIj4KIDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIgogICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iCiAgIHRpZmY6WUNiQ3JQb3NpdGlvbmluZz0iMSIKICAgdGlmZjpSZXNvbHV0aW9uVW5pdD0iMiIKICAgdGlmZjpYUmVzb2x1dGlvbj0iMTI3IC8gNTAiCiAgIHRpZmY6WVJlc29sdXRpb249IjEyNyAvIDUwIgogICB0aWZmOkltYWdlTGVuZ3RoPSIxNTAwIgogICB0aWZmOkltYWdlV2lkdGg9IjEwMDAiCiAgIGRjOnJpZ2h0cz0ia2hhbWVuZWkuaXIiCiAgIGV4aWY6UGl4ZWxZRGltZW5zaW9uPSIxNTAwIgogICBleGlmOkNvbG9yU3BhY2U9IjY1NTM1IgogICBleGlmOkZsYXNocGl4VmVyc2lvbj0iMDEwMCIKICAgZXhpZjpFeGlmVmVyc2lvbj0iMDIyMCIKICAgZXhpZjpQaXhlbFhEaW1lbnNpb249IjEwMDAiCiAgIHBob3Rvc2hvcDpIZWFkbGluZT0iPz8/Pz8gPz8/Pz8/Pz8/ID8/Pz8iPgogICA8dGlmZjpYUEtleXdvcmRzPgogICAgPHJkZjpCYWc+CiAgICAgPHJkZjpsaT42OTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NTE8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM4PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT43MjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Njg8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT43MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT41NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjE2OTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjQ5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xNzU8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjUwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zOTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NDk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT43MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT41NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjQ5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT43MTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NDA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjQ5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Njg8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT40MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT41MTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Njg8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42OTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MjA0PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM0PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4yMDQ8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjQyPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42ODwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Njg8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcxPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NDY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42OTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NzA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcxPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MzI8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4yMDQ8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjEyPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NDk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT41NDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4wPC9yZGY6bGk+CiAgICAgPHJkZjpsaT4wPC9yZGY6bGk+CiAgICA8L3JkZjpCYWc+CiAgIDwvdGlmZjpYUEtleXdvcmRzPgogICA8dGlmZjpYUFRpdGxlPgogICAgPHJkZjpCYWc+CiAgICAgPHJkZjpsaT40NzwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MjA0PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT40NzwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjQ5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MTY5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zOTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NDk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjE3NTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+NTA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjM5PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT40OTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Mzk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjcwPC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zMjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+NzA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjU2PC9yZGY6bGk+CiAgICAgPHJkZjpsaT42PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4zOTwvcmRmOmxpPgogICAgIDxyZGY6bGk+NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+Njk8L3JkZjpsaT4KICAgICA8cmRmOmxpPjY8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgIDwvcmRmOkJhZz4KICAgPC90aWZmOlhQVGl0bGU+CiAgIDx0aWZmOlhQQXV0aG9yPgogICAgPHJkZjpCYWc+CiAgICAgPHJkZjpsaT4xMDc8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjEwNDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+OTc8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjEwOTwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MTAxPC9yZGY6bGk+CiAgICAgPHJkZjpsaT4wPC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMTA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjEwMTwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MTA1PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4wPC9yZGY6bGk+CiAgICAgPHJkZjpsaT40NjwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MTA1PC9yZGY6bGk+CiAgICAgPHJkZjpsaT4wPC9yZGY6bGk+CiAgICAgPHJkZjpsaT4xMTQ8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgICA8cmRmOmxpPjA8L3JkZjpsaT4KICAgIDwvcmRmOkJhZz4KICAgPC90aWZmOlhQQXV0aG9yPgogICA8ZGM6Y3JlYXRvcj4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGk+a2hhbWVuZWkuaXI8L3JkZjpsaT4KICAgIDwvcmRmOlNlcT4KICAgPC9kYzpjcmVhdG9yPgogICA8ZXhpZjpDb21wb25lbnRzQ29uZmlndXJhdGlvbj4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgIDxyZGY6bGk+MDwvcmRmOmxpPgogICAgPC9yZGY6U2VxPgogICA8L2V4aWY6Q29tcG9uZW50c0NvbmZpZ3VyYXRpb24+CiAgPC9yZGY6RGVzY3JpcHRpb24+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBhY2tldCBlbmQ9InciPz7/4gJgSUNDX1BST0ZJTEUAAQEAAAJQbGNtcwQwAABtbnRyUkdCIFhZWiAH4AACAAQABQALAA1hY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACDAAAACBiVFJDAAACDAAAACBjaHJtAAACLAAAACRtbHVjAAAAAAAAAAEAAAAMZW5VUwAAABwAAAAcAHMAUgBHAEIAIABiAHUAaQBsAHQALQBpAG4AAG1sdWMAAAAAAAAAAQAAAAxlblVTAAAAMgAAABwATgBvACAAYwBvAHAAeQByAGkAZwBoAHQALAAgAHUAcwBlACAAZgByAGUAZQBsAHkAAAAAWFlaIAAAAAAAAPbWAAEAAAAA0y1zZjMyAAAAAAABDEoAAAXj///zKgAAB5sAAP2H///7ov///aMAAAPYAADAlFhZWiAAAAAAAABvlAAAOO4AAAOQWFlaIAAAAAAAACSdAAAPgwAAtr5YWVogAAAAAAAAYqUAALeQAAAY3nBhcmEAAAAAAAMAAAACZmYAAPKnAAANWQAAE9AAAApbY2hybQAAAAAAAwAAAACj1wAAVHsAAEzNAACZmgAAJmYAAA9c/9sAQwANCQoLCggNCwoLDg4NDxMgFRMSEhMnHB4XIC4pMTAuKS0sMzpKPjM2RjcsLUBXQUZMTlJTUjI+WmFaUGBKUVJP/9sAQwEODg4TERMmFRUmTzUtNU9PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09P/8AAEQgAUABQAwEiAAIRAQMRAf/EABsAAAIDAQEBAAAAAAAAAAAAAAUGAgMEAQAH/8QAMhAAAgEDAgUCBQMDBQAAAAAAAQIDAAQREiEFMUFRYRMiBhQycaFCgcEVI5ElM1Kx8f/EABgBAAMBAQAAAAAAAAAAAAAAAAECAwAE/8QAHREAAwEBAQEBAQEAAAAAAAAAAAECESExAxJhUf/aAAwDAQACEQMRAD8ArgYmzAAxiX+KW+NcTku7tgu0MZ0rjr5phdynDJmHNTkf4pZhtRIxXPtON/NShALbCMSTK7oGQ7YNFGsmWUyARrEu4bIGPFZrWJoTyICnGeea3SxySR4KjY+0chTt4jJazv8AUZIwCu0fJeg28Vstrpp1/wB/DHqGz/mgVxZXAYO5yoH0g9KnBIoT6dJ5Ead6M0n4FrBrYkIoabV5Xn9qhJbtGgmyCh80LsbqUyaSgROWNNMUMHzPCpYpCPV06ge9GspYDAO0heXC/SKg0zJqLbgcqrfUmwP71VrZnAO4NcoD0q/6bcAHr/FDbSJWZWJOBvjPOi9rpmhkVhsW3z2xS7w5/Tv5YWJJRyN+32q0+BGO0TUuiSP2lsnxXoVjWYpqzg7eRVIuWSBgB7nPX9NQjbQdWal9q5hX5LocS1imXdRVkPA4NZdCFY+Ky2kzEALvii0EzEYO1RiulXJO34ZBEDl8sKmmFkZeQKMPxUotQO/7VXelYgDqAY8hnGa6FT9JtcFucokmluRrKW1NpjBwtapoGlmJb6e9UrCEBIYhBzNIQO2ilraUE4y2MjpQOZ/l51W7CtKjECRRgkeaM2T6bc5P66x8SgSeck7HGc+aZ/6Uh9w0zaXtIXU5MuSCKoST0mwzDHI12Nj6UKldIC4A7V25sjeRn02wfA51K2qfS0r8onHxvh9rJ7pnGP8AiM0d4b8R8MuTp9cK3ZtqTIOGSpc/QCg6qmT+a9DwaVroSqWID/q606USt0XaPonEOJRWVmJ0UOzbID1NJ0cd1xXjB+ZuZjMGywCsqp1AG2BTmLOO84VAYgpaI+3NTgg9HVJISZG55AH/AFTy+aZrRcndgjqN9Jwaxvd+1Y9AxRKKBLriEscMw1FmJUiqrjh7AsVQOyjJ09B3NLjINA+OZNBhUFpNeQF6V69dYbWSQgasYz5q6GBLeLTEN+pPM0P4y/8AaWLqQWNFdeDLhy0kN3wyKQbMFJHner7Wdjur6SPxQj4cug1sbZ8AqTprfJGRKZEIBPP70LjWVmuDBarHOmq5VGbuOtVfMCW++Xt1RVhXc/wKEC8mij/t9ds9AaGzXKTlUll2UjLIcGkXyb9C/okfSeHSO1lNFEdDgZUnvXTfrPY+rgepgjHXPalzhN0LW31RetNpUHIbXq/aiCXMbcJe9QALNun3POrTDlegqv4CLO7e04rLc3CK/pj2tjBckYFM/DZ4vQOw9R92OfqNJ8atPcqSPYuWPk9KPwF2khVOeMY8msnhJg8D2jzQLiba55mHIDSKPvhYiewpdlBkSU9yTQj0zAFhI0V02k43pijvBNgcpBzyPzSyp0XTHs1bi5GGU7inr0K8DkcElxG0MmFDY8k1rs+FTmQAKI4xnkB0oJacWa2fDbjbJ70fs/iKxitx68wAxuBW/Om3A9YWFxHFqedmUE5Tt2+9DOPSJax/KQEFAdRxyyarb43tY4xHZQyTzPzwMAeaGXDGVk1nn7mNGuIDehHhsLSIqqN85P7/APlMEEYt1L5wy+0Hyay8Etytl83ICpYexT2717ic5ia3jHM+/HVidgPwTS/0B//Z

            -----GOLROKH

+ Response 201 (text/plain)


        {
          "image_url": "http://api.sobhe.ir:3805/media/14545248911-soleimani-small.jpg",
          "faces": [
            {
              "box":"39 51 67 67",
              "person":"قاسم سلیمانی",
              "person_image":"/media/persons/soleimani.jpg"
            }
          ]
        }


## New Person [/new_person]

### Request [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
              "dataset": "siasi",
              "name": "فرد جدید",
              "image_url": ""
            }

+ Response 200 (application/json)

        {
          "image": "",
          "name": "فرد جدید"
        }


## Report Face [/report_face]

### Request [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
              "dataset": "siasi",
              "name": "حسین سلامی",
              "image_url": "http://www.seratnews.ir/files/fa/news/1394/3/20/187659_391.jpg"
            }

+ Response 200 (application/json)

        {
          "url": "http://www.seratnews.ir/files/fa/news/1394/3/20/187659_391.jpg",
          "positive": true,
          "name": "حسین سلامی"
        }


## Similar Faces [/similar_faces]

### Request [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
              "dataset": "siasi",
              "image_url": "http://www.seratnews.ir/files/fa/news/1394/3/20/187659_391.jpg"
            }

+ Response 200 (application/json)

        [
          {
            "person": "حسین دهقان",
            "person_image": null,
            "similarity": 60
          },
          {
            "person": "سید محمد حسینی",
            "person_image": null,
            "similarity": 20
          },
          {
            "person": "مهدی کوچک‌زاده",
            "person_image": null,
            "similarity": 20
          }
        ]




## Dataset Detail [/dataset_detail]

### Request [POST]

+ Request (application/json)

    + Headers

            Authorization: Token TOKEN_KEY

    + Body

            {
                "dataset": "siasi"
            }

+ Response 200 (application/json)

        {
          "persons": [
            {
              "image": null,
              "name": "قاسم سلیمانی"
            },
            ...
          ]
        }
